.border {
  border: 2 px solid red;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v13/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
html,
body {
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
}
p {
  line-height: 1.5;
}
.container {
  max-width: 900px;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem 1rem;
  background-color: white;
  font-size: 2rem;
  position: sticky;
  top: 0;
  border-bottom: 1px solid grey;
  z-index: 100;
}
header a {
  color: black;
}
header a h1 {
  font-weight: bolder;
}
header .fas.fa-bars {
  cursor: pointer;
}
@media (min-width: 900px) {
  header .fas.fa-bars {
    display: none;
  }
}
header .nav-mobile {
  display: none;
  background-color: white;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  border-bottom: 1px solid grey;
  font-size: 1.3rem;
}
@media (min-width: 900px) {
  header .nav-mobile {
    display: none;
  }
}
header .nav-mobile .fas.fa-times {
  position: relative;
  top: 0;
  right: 0;
  margin: 2rem 1rem;
  cursor: pointer;
}
header .nav-mobile a {
  margin-bottom: 2rem;
  margin-right: 1rem;
}
header .nav-desktop {
  display: none;
  width: 30%;
  justify-content: space-between;
}
@media (min-width: 900px) {
  header .nav-desktop {
    display: flex;
  }
}
header .nav-desktop a {
  font-size: 1.3rem;
}
.about .team-introduction {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
}
.about .team {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
.about .team .team-card {
  width: calc(100% - 2px);
  margin-bottom: 2rem;
}
.about .team .team-card .team-card-details {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.about .team .team-card .team-card-details .team-card-image {
  width: 150px;
  height: 150px;
}
.about .team .team-card .team-card-details .team-card-image img {
  width: 100%;
  height: 100%;
}
.about .team .team-card .team-card-details .team-card-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-evenly;
  flex-wrap: wrap;
}
.about .team .team-card .team-card-details .team-card-title > p {
  font-weight: bold;
}
.about .team .team-card .team-card-details .team-card-sm {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  justify-content: space-evenly;
  font-size: 2rem;
  margin-right: 1rem;
  cursor: default;
}
.about .team .team-card .team-card-details .team-card-sm a {
  text-decoration: none;
}
.about .team .team-card .team-card-details .team-card-sm a .fab.fa-github {
  color: black;
}
.about .team .team-card .team-card-details .team-card-sm a .fab.fa-linkedin-in {
  color: #0077b5;
}
.about .team .team-card .team-card-details .team-card-sm a .fab.fa-twitter {
  color: #1ab2e8;
}
.about .team .team-card .team-card-bio {
  display: none;
  padding: 3rem;
}
.about .team .team-card .team-card-bio p {
  z-index: -100;
}
.about .team .team-card .active {
  display: block;
}
.action {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.action .main-cta {
  width: 100%;
  padding-top: 2rem;
}
.action .small-post-it-img {
  border-radius: 15px;
}
.action h2 {
  justify-content: center;
  margin: 0 3rem 3rem;
  font-size: 4.5rem;
}
.action p {
  font-size: 1rem;
  width: 95%;
  padding-top: 0.3rem;
  font-size: 1.1em;
  margin-left: 1rem;
}
.action .join-btn-div {
  padding-bottom: 4rem;
  padding-top: 2rem;
  display: flex;
}
.action .join-btn-div a {
  width: 90%;
  margin: 0 auto;
}
.action .join-btn-div a .join-btn {
  color: white;
  background: red;
  width: 100%;
  border-radius: 3rem;
  margin: 0 auto;
  padding: 1rem 0;
  font-size: 1.3em;
  cursor: pointer;
}
@media (min-width: 700px) {
  .action .join-btn-div a .join-btn {
    width: 70%;
  }
}
@media (min-width: 700px) {
  .action .join-btn-div a .join-btn {
    width: 50%;
  }
}
.action .join-btn-div a .join-btn:hover {
  background-color: #ff6a6a;
}
.action-two {
  margin-bottom: 2rem;
  text-align: center;
}
.action-two h2 {
  text-align: center;
  margin: 2rem 0;
  font-size: 1.7rem;
  font-weight: bold;
}
.action-two .sub-cta-container {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 700px) {
  .action-two .sub-cta-container {
    flex-direction: row;
    justify-content: space-between;
  }
}
.action-two .sub-cta-container .sub-cta-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
}
@media (min-width: 700px) {
  .action-two .sub-cta-container .sub-cta-item {
    flex-direction: column;
    justify-content: space-between;
    width: 28%;
  }
}
.action-two .sub-cta-container .sub-cta-item p {
  width: 50%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bolder;
}
.action-two .sub-cta-container .sub-cta-item .phone-search-div {
  width: 50%;
}
@media (min-width: 700px) {
  .action-two .sub-cta-container .sub-cta-item .phone-search-div {
    width: 100%;
  }
}
.action-two .sub-cta-container .sub-cta-item .phone-search-div img {
  width: 100%;
  border-radius: 15px;
}
@media (min-width: 700px) {
  .action-two .sub-cta-container .sub-cta-item .phone-search-div img {
    margin-top: 1.5rem;
    height: 225px;
  }
}
.action-two .sub-cta-container .sub-cta-item .news-articles-div {
  width: 50%;
  order: -1;
}
@media (min-width: 700px) {
  .action-two .sub-cta-container .sub-cta-item .news-articles-div {
    width: 100%;
    order: 0;
  }
}
.action-two .sub-cta-container .sub-cta-item .news-articles-div img {
  width: 100%;
  border-radius: 15px;
}
@media (min-width: 700px) {
  .action-two .sub-cta-container .sub-cta-item .news-articles-div img {
    margin-top: 1.5rem;
    height: 225px;
  }
}
.action-two .sub-cta-container .sub-cta-item .simple-div {
  width: 50%;
}
@media (min-width: 700px) {
  .action-two .sub-cta-container .sub-cta-item .simple-div {
    width: 100%;
  }
}
.action-two .sub-cta-container .sub-cta-item .simple-div img {
  width: 100%;
  border-radius: 15px;
}
@media (min-width: 700px) {
  .action-two .sub-cta-container .sub-cta-item .simple-div img {
    margin-top: 1.5rem;
    height: 225px;
  }
}
.action-two a .start-btn {
  color: white;
  background: red;
  width: 90%;
  border-radius: 3rem;
  padding: 1rem 0;
  font-size: 1.3em;
  cursor: pointer;
}
@media (min-width: 700px) {
  .action-two a .start-btn {
    width: 70%;
  }
}
@media (min-width: 700px) {
  .action-two a .start-btn {
    width: 50%;
  }
}
.action-two a .start-btn:hover {
  background-color: #ff6a6a;
}
.review {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  height: 300px;
  background-color: beige;
  padding: 2rem 0 2rem;
  font-size: 1.2rem;
}
@media (min-width: 900px) {
  .review {
    height: 200px;
    border-radius: 15px;
  }
}
.review .company-container {
  width: 49%;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media (min-width: 900px) {
  .review .company-container {
    width: 33%;
    order: 0;
  }
}
.review .company-container .company {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.review .company-container .company p {
  font-weight: bold;
}
.review .company-container .company .company-icon {
  display: flex;
}
.review .company-container .company .company-icon i {
  margin-right: 0.2rem;
  margin-top: 0.3rem;
}
.review .company-container .company .company-icon .fab.fa-apple {
  color: #a6b1b7;
}
.review .company-container .company .company-icon .fab.fa-google-play {
  color: #21aabc;
}
.review .company-container .company .company-rating {
  display: flex;
  justify-content: center;
  align-items: center;
}
.review .company-container .company .company-rating p {
  margin-right: 0.2rem;
}
.review .company-container .company .company-rating .fas.fa-star,
.review .company-container .company .company-rating .fas.fa-star-half {
  color: #ffb800;
}
.review .customer-feedback-container {
  width: 100%;
  order: -1;
  margin-bottom: 2rem;
}
@media (min-width: 900px) {
  .review .customer-feedback-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 33%;
    order: 0;
    margin: 0;
  }
}
.review .customer-feedback-container .customer-feedback {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.review .customer-feedback-container .customer-feedback > p {
  font-weight: bolder;
}
.review .customer-feedback-container .customer-feedback .twitter-icon {
  display: flex;
  align-items: center;
}
.review .customer-feedback-container .customer-feedback .twitter-icon i {
  margin-right: 0.2rem;
  margin-top: 0.2rem;
  color: #1ab2e8;
}
.review .award-container {
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.review .award-container p {
  font-weight: bold;
}
@media (min-width: 900px) {
  .review .award-container {
    width: 33%;
    border-left: 1px solid black;
  }
}
.review .award-container .award-icon {
  display: flex;
  align-items: center;
}
.review .award-container .award-icon i {
  margin-right: 0.2rem;
  margin-top: 0.2rem;
  color: #1150b5;
}
.newsletter {
  background-color: #389583;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 5%;
}
.newsletter .newsletter-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newsletter .newsletter-description .far.fa-envelope {
  font-size: 2.5rem;
  color: white;
}
.newsletter .newsletter-description p {
  color: white;
  font-size: 1.3rem;
  margin: 1rem 0;
}
.newsletter .newsletter-email {
  width: 100%;
  display: flex;
  font-size: 1.3rem;
  justify-content: space-around;
}
.newsletter .newsletter-email input {
  width: 75%;
  font-size: 1.2rem;
  border-radius: 3rem;
  padding-left: 1rem;
}
.newsletter .newsletter-email button {
  font-size: 1rem;
  border: none;
  border-radius: 3rem;
  background-color: red;
  color: white;
  cursor: pointer;
}
.newsletter .newsletter-email button:hover {
  background-color: #ff6a6a;
}
footer {
  text-align: center;
  background-color: #e9e5e5;
}
footer .footer-nav {
  display: flex;
  justify-items: left;
  justify-content: space-between;
  margin: 0 1rem 1rem 1rem;
  padding-top: 0.9rem;
  flex-wrap: wrap;
}
footer .footer-nav a {
  text-decoration: none;
  color: #a1a765;
  width: 25%;
  margin-bottom: 1rem;
}
@media (min-width: 700px) {
  footer .footer-nav a {
    width: auto;
  }
}
footer p {
  padding-bottom: 1rem;
}
.contact-div {
  width: 75%;
  margin-top: 3rem;
  margin-left: 2.5rem;
  padding: 2rem;
  border-radius: 4px;
  margin-bottom: 3rem;
}
.contact-hdr {
  font-size: 1.5rem;
  font-weight: bolder;
  width: 100%;
  padding-bottom: 2rem;
  padding-top: 0.5rem;
  color: white;
}
.contact-blurb {
  margin-bottom: 3rem;
  font-size: 1.4rem;
  text-align: center;
  color: white;
}
input[type=text],
select,
textarea {
  width: 95%;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 3rem;
}
input[type=contact-email],
select,
textarea {
  width: 95%;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 3rem;
}
label[for=name] {
  color: white;
}
label[for=email_address] {
  color: white;
}
label[for=message] {
  color: white;
}
