// Styles for cta page

.action {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 1.5rem;

  .main-cta {
    width: 100%;
    padding-top: 2rem;
  }

  .small-post-it-img {
    border-radius: 15px;
  }

  h2 {
    justify-content: center;
    margin: 0 3rem 3rem;
    font-size: 4.5rem;
  }

  p {
    font-size: 1rem;
    width: 95%;
    padding-top: 0.3rem;
    font-size: 1.1em;
    margin-left: 1rem;
  }

  .join-btn-div {
    padding-bottom: 4rem;
    padding-top: 2rem;
    display: flex;

    a {
      width: 90%;
      margin: 0 auto;

      .join-btn {
        color: white;
        background: red;
        width: 100%;
        border-radius: 3rem;
        margin: 0 auto;
        padding: 1rem 0;
        font-size: 1.3em;
        cursor: pointer;

        @media @tablet {
          width: 70%;
        }

        @media @tablet {
          width: 50%;
        }

        &:hover {
          background-color: rgb(255, 106, 106);
        }
      }
    }
  }
}

// Second CTA

.action-two {
  margin-bottom: 2rem;
  text-align: center;

  h2 {
    text-align: center;
    margin: 2rem 0;
    font-size: 1.7rem;
    font-weight: bold;
  }

  .sub-cta-container {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    width: 90%;
    margin: 0 auto;

    @media @tablet {
      flex-direction: row;
      justify-content: space-between;
    }

    .sub-cta-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 2rem 0;

      @media @tablet {
        flex-direction: column;
        justify-content: space-between;
        width: 28%;
      }

      p {
        width: 50%;
        text-align: center;
        font-size: 1.2rem;
        font-weight: bolder;
      }

      .phone-search-div {
        width: 50%;

        @media @tablet {
          width: 100%;
        }

        img {
          width: 100%;
          border-radius: 15px;

          @media @tablet {
            margin-top: 1.5rem;
            height: 225px;
          }
        }
      }

      .news-articles-div {
        width: 50%;
        order: -1;

        @media @tablet {
          width: 100%;
          order: 0;
        }

        img {
          width: 100%;
          border-radius: 15px;

          @media @tablet {
            margin-top: 1.5rem;
            height: 225px;
          }
        }
      }

      .simple-div {
        width: 50%;

        @media @tablet {
          width: 100%;
        }

        img {
          width: 100%;
          border-radius: 15px;

          @media @tablet {
            margin-top: 1.5rem;
            height: 225px;
          }
        }
      }
    }
  }

  a {
    .start-btn {
      color: white;
      background: red;
      width: 90%;
      border-radius: 3rem;
      padding: 1rem 0;
      font-size: 1.3em;
      cursor: pointer;

      @media @tablet {
        width: 70%;
      }

      @media @tablet {
        width: 50%;
      }

      &:hover {
        background-color: rgb(255, 106, 106);
      }
    }
  }
}
