// Styles for cta page

.action {
    //border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    

    .main-cta {
        width: 100%;
        //border: 2px solid red;
        padding-top: 2rem;
        border-bottom: 1px dashed gray;
        
        
        
    }

    .mobile-post-it {
        //border: 2px solid red;
        padding-bottom: 1rem;
        position: relative;
        top: -2rem;
        //padding-top: -2rem; 
    }

    .small-post-it-img {
        border-radius: 15px;
    }

    h2 {
        justify-content: center;
        //border: 2px solid red;
        margin: 3rem;
        font-size: 1.5rem;
        width: 80%;
        
        
    
 }

    p {
        //border: 2px solid red;
        font-size: 1rem;
        width: 95%;
        padding-top: .3rem;
        font-size: 1.1em;
        margin-left: 1rem;

        }
       
       .join-btn-div {
        //border: 2px solid red;
        padding-bottom: 4rem;
        padding-top: 2rem;
        display: flex;
       }

        .join-btn {
            //border: 2px solid red;
            color: white;
            background: red;
            width: 23%;
            border-radius: 3rem;
            margin-left: 4rem;
            padding: .5rem 0 .5rem 0;
            font-size: .9em;
        

            // &:hover {
            //     color: rgb(204, 41, 41);
            //     background-color: white;
            //   }
            

            }

}

.action-two {
    //border: 2px solid red;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    padding-top: 1.5rem;
    border-top: 1px dashed gray;
    //margin-left: 1rem;
    margin-right: 3rem;

    h2 {
        //border: 2px solid red;
        font-size: 1.4rem;
        justify-content: center;
        padding-bottom: 2rem;
        margin-left: 3.5rem;
        width: 80%;  
    }

    p {
        //border: 2px solid red;
        //margin-left: 3.5rem;
        display: flex;
        padding-top: 1rem;
        justify-content: center;
        
        
    }

}



.sub-cta {
    //border: 2px solid red;
}  

.phone-search-div {
    //border: 2px solid red; 
    margin-left: 3rem;
    margin-right: 3rem;
    padding-top: 2rem;

    .phone-search {
    //     width: 90%;
    border-radius: 15px;
     }


}

.board-blurb {
    //border: 2px solid red;  
    margin-top: 3rem; 
}

.news-articles-div {
    //border: 2px solid red;
    margin-left: 3rem;
    margin-right: 3rem;
    padding-top: 2rem;
    
    
    .news-articles-pic {
        border-radius: 15px;
        border: 1px solid silver;  
    }
}

.simple-blurb {
 margin-top: 3rem; 
}

.simple-div {
    //border: 2px solid red; 
    margin-left: 3rem;
    margin-right: 3rem;
    padding-top: 2rem;
    
    .simple-pic {
      border-radius: 15px; 
    }
}

.start-btn-div {
    //border: 2px solid red;
    padding-bottom: 4rem;
    padding-top: 2rem;
    display: flex;
   }

    .start-btn {
        //border: 2px solid red;
        color: white;
        background: red;
        width: 23%;
        border-radius: 3rem;
        margin-left: 4rem;
        padding: .5rem 0 .5rem 0;
        font-size: .7em;
    }