footer {
  text-align: center;
  //margin-top: 5rem;
  background-color: darkgray;
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
  

  .footer-nav {
    margin-top: 2rem;
  
  
  }

  a {
    text-decoration: none;
    color: white;
    
  }


  p {
  }
}
