footer {
  text-align: center;
  background-color: rgb(233, 229, 229);

  .footer-nav {
    display: flex;
    justify-items: left;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 1rem 1rem 1rem;
    padding-top: 0.9rem;
    flex-wrap: wrap;

    a {
      text-decoration: none;
      color: rgb(161, 167, 101);
      width: 25%;
      margin-bottom: 1rem;

      @media @tablet {
        width: auto;
      }
    }
  }

  p {
    padding-bottom: 1rem;
  }
}
