// Possibly add font-size and font-family to here

.menu {
 top: 0;
 width: 100%;
 border: 2px solid red;
 margin-top: 2rem;
}

.main-title {
    margin: 25px;
    padding: 2 25rem 30rem;
    border: 2px solid red;
}