header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .nav-mobile {
    display: none;
    width: 100%;
    flex-direction: column;
    position: absolute;
    top: 0;
    text-align: center;
  }

  .nav-desktop {
    display: none;
  }
}
