.review {
  display: flex;
  flex-wrap: wrap;
  text-align: center;

  .company-container {
    width: 49.5%;
    border-right: 1px solid black;

    .company {
      .company-rating {
        display: flex;
        justify-content: center;
      }
    }
  }

  .customer-feedback-container {
    width: 100%;
    order: -1;

    .customer-feedback {
    }
  }

  .award-container {
    width: 49.5%;

    .award {
    }
  }
}
